h1,
h2,
p {
  font-size: 1.12rem;
  line-height: 1.75rem;
  font-weight: 400;
  margin: 0;
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
  h1,
  h2,
  p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 900px) {
  h1,
  h2,
  p {
    font-size: 1.25rem;
    line-height: 2.125rem;
  }
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  background-image: url("./assets/bg-main-mobile.png");
  background-position: left 15px top -240px;
  background-repeat: no-repeat;
}

body .container {
  width: 375px;
  margin: 0 auto;
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
  body {
    background-image: url("/assets/bg-pattern-1.svg"), url("./assets/bg-main-tablet.png");
    background-position: left 537px top -32px, left -330px top -200px;
    background-size: 266.67px 400px, auto;
    background-repeat: no-repeat, no-repeat;
  }
  body .container {
    width: 768px;
  }
}

@media only screen and (min-width: 900px) {
  body {
    background-image: url("/assets/bg-pattern-1.svg"), url("./assets/bg-main-desktop.png");
    background-position: left 1128px top 0px, left -330px top -200px;
    background-size: 312px 468px, auto;
    background-repeat: no-repeat, no-repeat;
  }
  body .container {
    width: 1110px;
  }
}

header {
  width: 327px;
  margin: 0 auto;
  color: #191826;
  margin-bottom: 146px;
}

header .bg-image-container {
  display: none;
}

header .logo {
  margin: 40px 0 64px;
  width: 136px;
  height: 32px;
}

header h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
  header {
    width: 514px;
    margin-left: 39px;
    margin-bottom: 207px;
  }
  header h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 28px;
  }
  header .logo {
    margin: 61.99px 0px 95px 0px;
    width: 146px;
  }
}

@media only screen and (min-width: 900px) {
  header {
    width: 70.4%;
    margin: 0;
    margin-bottom: 321px;
  }
  header h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
    width: 1015px;
    margin-bottom: 40px;
  }
  header p {
    width: 825px;
  }
}

main {
  margin: 0 auto;
  border-radius: 12px;
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
  main {
    margin: 0px 33px;
  }
}

main .eq-in-action {
  background-color: #191826;
  background-image: url("./assets/bg-pattern-2.svg");
  background-size: 280px 420px;
  background-position: left 48px top 0px;
  background-repeat: no-repeat;
  height: 622px;
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
  main .eq-in-action {
    background-position: left 168px top -35px;
  }
}

@media only screen and (min-width: 900px) {
  main .eq-in-action {
    background-position: left 301px top 0px;
    background-size: 312px 468px;
  }
}

main .eq-in-action .img-container img {
  position: relative;
  left: 80.67px;
  top: -98px;
  width: 208.97px;
  height: 430px;
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
  main .eq-in-action .img-container img {
    width: 270.21px;
    height: 556px;
    left: 68px;
  }
}

@media only screen and (min-width: 900px) {
  main .eq-in-action .img-container img {
    width: 312px;
    height: 642px;
    left: 68px;
    top: -150px;
  }
}

aside {
  color: #fcfaf9;
  border-radius: 12px;
  background-color: #fa7453;
  position: absolute;
  top: 1003px;
  width: 375px;
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
  aside {
    top: 920px;
    left: 36.41%;
  }
}

@media only screen and (min-width: 900px) {
  aside {
    top: 920px;
    left: 50.9%;
    width: 446px;
  }
}

aside h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 48px 0px 12px;
}

@media only screen and (min-width: 900px) {
  aside h2 {
    margin: 58px 0px 22px;
    font-size: 2.5rem;
  }
}

aside .premium-container {
  margin: 0 auto;
  width: 302px;
}

aside .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 36px 8px;
  padding: 0.9rem 0;
}

@media only screen and (min-width: 900px) {
  aside .price {
    margin: 46px 8px;
  }
}

aside .price .dollar-amount {
  font-size: 4.0625rem;
  font-weight: 700;
  margin-right: 16px;
}

aside .price .duration {
  font-size: 1.25rem;
}

aside .platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside .platforms .button {
  width: 18.5rem;
  height: 3.8125rem;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside .platforms .button .icon {
  margin-right: 0.495rem;
}

aside .platforms .button-android {
  background-color: #fcfaf9;
  color: #191826;
  margin-bottom: 48px;
}

aside .platforms .button-android:hover {
  background-color: #ffb964;
  cursor: pointer;
}

aside .platforms .button-apple {
  background-color: #191826;
  color: #fcfaf9;
  margin-bottom: 16px;
}

aside .platforms .button-apple:hover {
  background-color: #66e2dc;
  cursor: pointer;
}

footer {
  position: absolute;
  color: #191826;
  margin: 0px 24px;
  top: 1550px;
  width: 327px;
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
  footer {
    width: 90.625%;
    margin: 0 4.68%;
    top: 1500px;
    padding-bottom: 86px;
  }
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 900px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1110px;
    margin: 0;
    top: 1662px;
    padding-bottom: 91px;
  }
  footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .logo {
  margin: 64px 0 32px;
}

@media only screen and (min-width: 900px) {
  footer .logo {
    margin: 0;
    width: 146.09px;
    height: 32px;
  }
}

footer .email {
  font-weight: 700;
}

footer .social {
  margin-top: 64px;
  margin-bottom: 80px;
}

footer .social svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

@media only screen and (min-width: 767px) and (max-width: 899px) {
  footer .contact {
    width: 366px;
  }
  footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  footer .social img {
    width: 20px;
    height: 20px;
  }
}

@media only screen and (min-width: 900px) {
  footer .contact p {
    width: 366px;
    font-size: 1rem;
    margin-right: 359px;
  }
  footer .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  footer .social img {
    width: 20px;
    height: 20px;
  }
}

footer svg:hover {
  cursor: pointer;
  fill: #fa7453 !important;
}
/*# sourceMappingURL=styles.css.map */