@import "./variables.scss";
@import "./media-queries.scss";

//may have to take a multiple background image approach see
//#example1 {
//   background-image: url(img_flwr.gif), url(paper.gif);
//   background-position: right bottom, left top;
//   background-repeat: no-repeat, repeat;
// }
//https://www.w3schools.com/Css/css3_backgrounds.asp
//didnt know you could have more than one
h1,
h2,
p {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f2f2f2;

  background-image: url("./assets/bg-main-mobile.png");
  background-position: left 15px top -240px;
  background-repeat: no-repeat;
  .container {
    width: 375px; //mobile
    margin: 0 auto;
    //does not work for absolute positioning
  }
  @include tablet {
    .container {
      width: 768px;
      margin: 0 auto;
    }

    background-image: url("/assets/bg-pattern-1.svg"),
      url("./assets/bg-main-tablet.png");
    background-position: left 500px top -32px, left -330px top -200px;
    background-repeat: no-repeat, no-repeat;
  }
}

header {
  width: 327px;
  margin: 0 auto;
  color: $main-black;

  .bg-image-container {
    display: none;
  }

  .logo {
    margin: 40px 0 64px;
    width: 136px;
    height: 32px;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  margin-bottom: 146px;

  @include tablet {
    width: 520px;
    margin-left: 39px;

    h1 {
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 28px;
    }

    .logo {
      margin: 61.99px 0px 95px 0px;
      width: 146px;
    }
  }
}

main {
  margin: 0 auto;
  border-radius: 12px;
  .eq-in-action {
    background-color: $main-black;
    background-image: url("./assets/bg-pattern-2.svg");
    background-size: 280px 420px;
    background-position: left 48px top 0px;
    background-repeat: no-repeat;
    height: 622px;
    .img-container {
      img {
        position: relative;
        left: 80.67px;
        top: -98px;
        width: 208.97px;
        height: 430px;
      }
    }
  }
}

aside {
  color: $off-white;
  border-radius: 12px;
  background-color: #fa7453;
  position: absolute;
  top: 1003px;
  margin: 0 auto;
  width: 375px;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 48px 0px 12px;
  }
  .premium-container {
    margin: 0 auto;
    width: 302px;
  }
  .price {
    display: flex;
    flex-direction: row;
    margin: 36px 8px;
    padding: 0.9rem 0;

    .dollar-amount {
      font-size: 4.0625rem;
      font-weight: 700;
      margin-right: 16px;
    }
    .duration {
      font-size: 1.25rem;
    }
  }
  .platforms {
    display: flex;
    flex-direction: column;

    .button {
      width: 18.5rem;
      height: 3.8125rem;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        margin-right: 0.495rem;
      }
    }

    .button-android {
      background-color: $off-white;
      color: $main-black;
      margin-bottom: 48px;
    }

    .button-apple {
      background-color: $main-black;
      color: $off-white;
      margin-bottom: 16px;
    }
  }
}

footer {
  position: absolute;
  color: $main-black;
  margin: 0px 24px;
  top: 1548px;
  width: 327px;
  .logo {
    margin: 64px 0 32px;
  }
  .email {
    font-weight: 700;
  }
  .social {
    margin-top: 64px;
    margin-bottom: 80px;
    img {
      margin-right: 20px;
    }
  }
}
