@import "./variables.scss";
@import "./media-queries.scss";

//desktop is 1440px wide
h1,
h2,
p {
  font-size: 1.12rem;
  line-height: 1.75rem;

  @include tablet {
    font-size: 1.125rem;
  }
  @include desktop {
    font-size: 1.25rem;
    line-height: 2.125rem;
  }
  font-weight: 400;
  margin: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f2f2f2;
  margin: 0;

  background-image: url("./assets/bg-main-mobile.png");
  background-position: left 15px top -240px;
  background-repeat: no-repeat;
  .container {
    width: 375px; //mobile
    margin: 0 auto;
  }
  @include tablet {
    width: 768px;
    .container {
      width: 768px;
      // margin: 0 auto;
    }

    background-image: url("/assets/bg-pattern-1.svg"),
      url("./assets/bg-main-tablet.png");
    background-position: left 537px top -32px, left -330px top -200px;
    background-size: 266.67px 400px, auto;
    background-repeat: no-repeat, no-repeat;
  }

  @include desktop {
    width: 1440px;
    .container {
      width: 1110px;
    }
    background-image: url("/assets/bg-pattern-1.svg"),
      url("./assets/bg-main-desktop.png");
    background-position: left 1128px top 0px, left -330px top -200px;
    background-size: 312px 468px, auto;
    background-repeat: no-repeat, no-repeat;
  }
}

header {
  width: 327px;
  margin: 0 auto;
  color: $main-black;

  .bg-image-container {
    display: none;
  }

  .logo {
    margin: 40px 0 64px;
    width: 136px;
    height: 32px;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  margin-bottom: 146px;

  @include tablet {
    width: 514px;
    margin-left: 39px;
    margin-bottom: 207px;

    h1 {
      font-size: 4rem;
      line-height: 4rem;
      margin-bottom: 28px;
    }

    .logo {
      margin: 61.99px 0px 95px 0px;
      width: 146px;
    }
  }
  @include desktop {
    width: 70.4%;
    margin: 0;
    margin-bottom: 321px;

    h1 {
      font-size: 5.5rem;
      line-height: 5.5rem;
      width: 1015px;
      margin-bottom: 40px;
    }
    p {
      width: 825px;
    }
  }
}

main {
  margin: 0 auto;
  border-radius: 12px;
  @include tablet {
    margin: 0px 33px;
  }
  .eq-in-action {
    background-color: $main-black;
    background-image: url("./assets/bg-pattern-2.svg");
    background-size: 280px 420px;
    background-position: left 48px top 0px;

    background-repeat: no-repeat;
    height: 622px;
    @include tablet {
      background-position: left 168px top -35px;
    }
    @include desktop {
      background-position: left 301px top 0px;
      background-size: 312px 468px;
    }
    .img-container {
      img {
        position: relative;
        left: 80.67px;
        top: -98px;
        width: 208.97px;
        height: 430px;
        @include tablet {
          width: 270.21px;
          height: 556px;
          left: 68px;
        }
        @include desktop {
          width: 312px;
          height: 642px;
          left: 68px;
          top: -150px;
        }
      }
    }
  }
}

aside {
  color: $off-white;
  border-radius: 12px;
  background-color: #fa7453;
  position: absolute;
  //  margin: 0 auto;
  top: 1003px;
  width: 375px;
  @include tablet {
    top: 920px;
    left: 36.41%;
  }
  @include desktop {
    top: 920px;
    left: 50.9%;
    width: 446px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 48px 0px 12px;
    @include desktop {
      margin: 58px 0px 22px;
      font-size: 2.5rem;
    }
  }
  .premium-container {
    margin: 0 auto;
    width: 302px;
  }
  .price {
    display: flex;
    flex-direction: row;
    margin: 36px 8px;
    @include desktop {
      margin: 46px 8px;
    }
    padding: 0.9rem 0;

    .dollar-amount {
      font-size: 4.0625rem;
      font-weight: 700;
      margin-right: 16px;
    }
    .duration {
      font-size: 1.25rem;
    }
  }
  .platforms {
    display: flex;
    flex-direction: column;

    .button {
      width: 18.5rem;
      height: 3.8125rem;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        margin-right: 0.495rem;
      }
    }

    .button-android {
      background-color: $off-white;
      color: $main-black;
      margin-bottom: 48px;
    }
    .button-android:hover {
      background-color: $android-active;
      cursor: pointer;
    }

    .button-apple {
      background-color: $main-black;
      color: $off-white;
      margin-bottom: 16px;
    }
    .button-apple:hover {
      background-color: $apple-active;
      cursor: pointer;
    }
  }
}

footer {
  position: absolute;
  color: $main-black;
  margin: 0px 24px;
  top: 1550px;
  width: 327px;
  @include tablet {
    width: 90.625%;
    margin: 0 4.68%;
    top: 1500px;
    padding-bottom: 86px;
    .footer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    width: 1110px;
    margin: 0;
    top: 1662px;
    padding-bottom: 91px;
    .footer-container {
      display: flex;
      flex-direction: row;
    }
  }

  .logo {
    margin: 64px 0 32px;
    @include desktop {
      margin: 0;
      width: 146.09px;
      height: 32px;
    }
  }
  .email {
    font-weight: 700;
  }
  .social {
    margin-top: 64px;
    margin-bottom: 80px;
    // img {
    //   margin-right: 20px;
    // }
    svg {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }
  @include tablet {
    .contact {
      width: 366px;
    }
    .social {
      display: flex;
      align-items: center;

      margin: 0;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  @include desktop {
    .contact p {
      width: 366px;
      font-size: 1rem;
      margin-right: 359px;
    }
    .social {
      display: flex;
      align-items: center;

      margin: 0;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  svg:hover {
    cursor: pointer;
    fill: $social-active !important;
  }
}
